.container__detail{
    background-image: url("../assets/fondoPantalla.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top:0;
    bottom: 0;
    left:0;
    right:0;
}

.cards__item__name {
    color: #000000;
    font-size: 14px;
    line-height: 12px;
    margin:5px 50px;
}

.cards__item__temp{
    color: #000000;
    font-size: 12px;
    line-height: 12px;
    margin:10px 10px;
}

.cards__item__altura{
    color: #000000;
    font-size: 12px;
    line-height: 10px;
    margin:10px 90px;
}

.cards__item__peso{
    color: #000000;
    font-size: 12px;
    line-height: 10px;
    margin:10px 90px;
}

.cards__item__life{
    color: #000000;
    font-size: 12px;
    line-height: 10px;
    margin:10px 90px;
}
.container__blur{
    width: 100vw;
    height:100vh;
    /* backdrop-filter: blur(0px); */
}

.container__back{
    width:40vw;
    height:60vh;
    position: absolute;
    margin:20vh 30vw;
    top:0;
    /* background-image: url("../assets/background.jpg"); */
    background-color: rgba(246, 238, 238, 0.651);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 1.5rem;
}
.cards__img {
    position: absolute;
    top: 140px;
    right:0;
    bottom: 0;
    left:0;
    display: block;
    width: 100%;
    max-width:100%;
    height: 100%;
    max-height: 90%;
}

  
  @media only screen and (min-width: 1024px) {
    .cards__items {
      display: flex;
    }
  }
  
  @media only screen and (max-width: 1024px) {
    .cards__item {
      margin-bottom: 2rem;
    }
  }
  
  
